.boxes{
    border: 3px solid red
}
.box {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50px;

}
.box-one{
    border: 3px solid black;
    left:210px;
    top: 55px;
    z-index: -1;
    
}
.box-two{
    border: 3px solid blue;
    
    left:150px;
    
    z-index: 1;
    
}
.box-three{
    border: 3px solid red;
    left:270px;
    bottom: 55px;
}
.box-fourth{
    border: 3px solid yellow;
    left:180px;
    bottom: 80px;
    z-index: -1;
}
.box-fifth{
    border: 3px solid green;
    left:240px;
    bottom: 135px;
    z-index: -1;
}